turbine-py==2.1.4

# Deltatable/delta lake libraries
deltalake>=0.9.0
pandas==2.2.2

# Record enhancement example
requests==2.31.0

# Sentry.io Monitoring 
sentry-sdk==1.45.0

# Test Data generation
psycopg==3.1.19
faker==19.13.0
